@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*  --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem; */
    --background: 74 10% 5%;
    --foreground: 74 0% 90%;
    --card: 74 0% 0%;
    --card-foreground: 74 0% 90%;
    --popover: 74 10% 5%;
    --popover-foreground: 74 0% 90%;
    --primary: 74 90% 76%;
    --primary-foreground: 0 0% 0%;
    --secondary: 74 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 36 10% 15%;
    --muted-foreground: 74 0% 60%;
    --accent: 36 10% 15%;
    --accent-foreground: 74 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 74 0% 90%;
    --border: 74 20% 18%;
    --input: 74 20% 18%;
    --ring: 74 90% 76%;
    --radius: 0.5rem;
  }

  .dark {
    /* --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-gradient {
    background: var(--gradient);
  }

  .card-new::before,
  .card-new::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @apply bg-gradient-to-r from-primary to-secondary; */
    /* @apply bg-primary-foreground; */
    /* background-color: black; */
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
  }

  .box-shadow {
    /* box-shadow: 0 0 10px 6px white inset; */
  }

  .box-shadow img {
    position: relative;
    z-index: -1;
  }

  .paused {
    animation-play-state: paused;
  }
  .text-stroke-custom {
    @apply text-foreground;
    /* @apply text-primary; */
    -webkit-text-stroke: 1px hsl(var(--background));
    text-stroke: 1px hsl(var(--background));
    letter-spacing: 1px;
    /* font-family: "Gill Sans", sans-serif; */
    font-family: system-ui;
  }

  .text-stroke-custom-main {
    /* @apply text-primary/50; */
    -webkit-text-stroke: 4px hsl(var(--foreground));
    text-stroke: 4px hsl(var(--foreground));
    letter-spacing: 1px;
    font-family: system-ui;
  }

  .text-stroke-title-page {
    /* @apply text-background; */
    -webkit-text-stroke: 1px hsl(var(--foreground));
    text-stroke: 1px hsl(var(--foreground));
    letter-spacing: 1px;
    font-family: system-ui;
  }

  .box {
    overflow: hidden;
  }

  @keyframes characterComponent-animation {
    20%,
    100% {
      left: 400px;
      /* background: rgba(255, 255, 255, 0.2); */
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }

  @keyframes characterId-animation {
    20%,
    100% {
      left: 1000px;
      /* background: rgba(255, 255, 255, 0.2); */
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }

  /* @keyframes characterCarouselZoom-animation {
    20%,
    100% {
      left: 1000px;
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  } */

  .box:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.3); */
    background: hsl(var(--foreground) / 20%);
    transform: skewX(-30deg);
    transition: 1s;
  }

  .characterComponent:after {
    left: -400px;
    animation: characterComponent-animation 5s ease-in-out infinite;
  }

  .characterId:after {
    left: -1000px;
    animation: characterId-animation 8s ease-in-out infinite;
  }

  /* .characterCarouselZoom:before{
    left: -1000px;
    animation: characterCarouselZoom-animation 8s ease-in-out infinite;
  } */
}