---
import Layout from "../layouts/Layout.astro";
import { collectionCharacters } from "../lib/mongodb";
import { getRandomIdRecursively } from "../lib/charactersUtils";
import CharacterInfoBattle from "../components/CharacterInfoBattle.astro";
import { Separator } from "$lib/components/ui/separator";

const first = Astro.url.searchParams.get("first");
const second = Astro.url.searchParams.get("second");

const firstId = first ?? (await getRandomIdRecursively())
const secondId = second ?? (await getRandomIdRecursively())

if(!first || !second){
    return Astro.redirect(`/fight?first=${firstId}&second=${secondId}`)
}

const selectedCharacters = await collectionCharacters
  .find({
    id: {
      $in: [
        parseInt(firstId),
        parseInt(secondId),
      ],
    },
  })
  .toArray();

// console.log(selectedCharacters[0]?.id, selectedCharacters[1]?.id);
---

<Layout title="Fight">
  <div
    class="h-full w-full flex justify-between items-start gap-2 md:gap-10 overflow-visible"
  >
    <CharacterInfoBattle
      selectedCharacter={selectedCharacters[0]}
    />
    <Separator
      class="min-h-[90vh] md:h-[100vh] w-[0.2rem]"
      orientation="vertical"
    />
    <CharacterInfoBattle
      selectedCharacter={selectedCharacters[1]}
    />
  </div>
</Layout>
