---
import Layout from "../layouts/Layout.astro";
import { HeroParallaxContainer } from "@/components/custom-ui/aceternity-ui/hero-parallax-container";
import { collectionCharacters } from "@/lib/mongodb";

const randomCharacters = await collectionCharacters
  .aggregate([{ $match: {} }, { $sample: { size: 50 } }])
  .toArray();

---

<script is:inline>
    
</script>

<Layout title="Welcome to Astro.">
  <div>
    <HeroParallaxContainer randomCharacters={randomCharacters} client:load/>
  </div>
</Layout>
