---
import Layout from "../layouts/Layout.astro";
import { collectionCharacters } from "../lib/mongodb";
import HeroCard from "../components/HeroCard.astro";
import { Atom } from "lucide-astro";

const randomCharacters = await collectionCharacters
  .find()
  .sort({ id: "desc" })
  .limit(50)
  .toArray();


const firstRow = randomCharacters.slice(0, 15);
const secondRow = randomCharacters.slice(15, 35);
const thirdRow = randomCharacters.slice(35, 50);
---

<Layout title="Welcome to Characters.">
  <div>
    <div
      class="overflow-hidden antialiased relative flex flex-col self-auto group/hero"
    >
      <div class="opacity-70">
        <div class="flex space-x-20 group mb-20">
          <div
            class="group-hover:paused animate-loop-scroll flex flex-row-reverse space-x-reverse space-x-20"
          >
            {firstRow.map((character) => <HeroCard character={character} />)}
          </div>
        </div>
        <div class="flex space-x-20 group mb-20">
          <!-- animate-loop-scroll2 -->
          <div class="group-hover:paused flex space-x-20 animate-loop-scroll">
            {
              secondRow.map((character) => (
                <HeroCard character={character} />
              ))
            }
          </div>
        </div>
        <div class="flex space-x-20 group">
          <div
            class="group-hover:paused flex flex-row-reverse space-x-reverse space-x-20 animate-loop-scroll"
          >
            {
              thirdRow.map((character) => (
                <HeroCard character={character} />
              ))
            }
          </div>
        </div>
      </div>
      <div
        class="group-hover/hero:opacity-10 transition-opacity duration-700 pointer-events-none absolute flex justify-start items-center h-[80vh] w-[100vh]"
      >
        <div
          class="text-stroke-custom-main text-secondary duration-1000 animate-title font-display text-4xl xl:text-9xl font-bold flex justify-center items-center gap-2 pl-5"
        >
          CH<Atom
            className={`animate-logo-color h-[3rem] w-[3rem] xl:h-[8rem] xl:w-[8rem] `}
          />R4CT3R5
        </div>
      </div>
    </div>
  </div>
</Layout>
