---
import { Button } from "../components/ui/button";

const currentPath = Astro.url.pathname;

interface Props {
  title: string;
  otherLink?: {
    url: string,
    title: string
  };
  otherClassesContainer: string
}

const { title, otherLink, otherClassesContainer } = Astro.props;
---

<div class={`items-center justify-between ${otherClassesContainer} w-full  md:w-auto`}>
  <menu
    class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
  >
    <li>
      <Button variant={"link"} className="text-foreground"
        ><a 
          href="/" 
          class={`block py-2 px-3 ${currentPath === "/" /* && title === "Characters" */ && "underline"}`} 
          aria-current="page">Home</a
        ></Button>
    </li>
    <li>
      <Button variant={"link"} className="text-foreground"
        ><a
          href="/characters"
          class={`block py-2 px-3 ${currentPath === "/characters" && title === "Characters" && "underline"}`}
          aria-current="page">Characters</a
        ></Button
      >
    </li>
    <li>
      <Button variant={"link"} className="text-foreground"
        ><a
          href="/fight"
          class={`block py-2 px-3 ${currentPath === "/fight" && title === "Fight" && "underline"}`}
          aria-current="page">Fight Characters</a
        ></Button
      >
    </li>
    <!-- <li>
      <Button variant={"link"} className="text-foreground"
        ><a
          href="/favorites"
          class={`block py-2 px-3 ${currentPath === "/favorites" && title === "Favorites" && "underline"}`}
          aria-current="page">Favorites</a
        ></Button
      >
    </li> -->

    {otherLink !== undefined ? <li>
      <Button variant={"link"} className="text-foreground"
        ><a
          href={otherLink.url}
          class={`block py-2 px-3 ${currentPath === otherLink.url && title === otherLink.title && "underline"}`}
          aria-current="page">{otherLink.title}</a
        ></Button>
    </li> : null}
  </menu>
</div>
