---
import { cn } from "$lib/utils";
import CharacterCard from "src/components/characters_page/CharacterCard.astro";
import HeroCard from "src/components/HeroCard.astro";

interface Props {
  reverse: boolean;
  repeat: number;
  rowElements: Character[];
}

const { reverse, repeat = 4, rowElements } = Astro.props;

const elements = new Array(repeat).fill(0);
---

<div
  class={cn(
    "group flex shrink-0 overflow-hidden p-2 [--duration:30s] [--gap:2rem] [gap:var(--gap)]",
    "flex-col",
  )}
>
  {
    elements.map((element) => {
      return (
        <div
          class={cn(
            "flex shrink-0 justify-around [gap:var(--gap)]",
            // "animate-marquee flex-row",
            "animate-marquee-horizontal flex-col",
            "group-hover:[animation-play-state:paused]",
            {
              "[animation-direction:reverse]": reverse,
            },
          )}
        >
          {rowElements.map((character) => {
            return <HeroCard character={character} />;
          })}
        </div>
      );
    })
  }
</div>
